<!DOCTYPE html>
<html>
<head>
  <title>AvtoSpace</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Play|Open+Sans&subset=latin,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
  <!--[if lt IE 7]>

<style>
h1 span {
  background: none;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gradient.png', sizingMethod='scale');
}
</style>

<![endif]-->
</head>
<body>
<div id = "upper"></div>
<div id = "head">
	<div id = "name"><%= link_to "Avto Space", root_path %></div><div id = "logo"><img src = "<%= asset_path "logo_new.png" %>" alt = "logo" />
	</div>
</div>
<div id = "content">
<%= yield %>
</div>

</body>
</html>
