<!DOCTYPE html>
<html>
<head>
  <title>Авто Спейс</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    controller.controller_name, :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag controller.controller_name %>
  <link rel="shortcut icon" href="<%= asset_path "favicon.ico" %>">
  <%= csrf_meta_tags %>
    <!--[if lt IE 7]>
	<style>
	h1 span {
	  background: none;
	  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='gradient.png', sizingMethod='scale');
	}
	</style>
	<![endif]-->
</head>
<body>
<div id = "upper"></div>
<div id = "head">
	<div id = "name"><%= link_to "Авто Спейс", root_path %></div><div id = "logo">
	</div>
</div>
<div id = "menu"><%= render_navigation %></div>
<div id = "content">
<%= yield %>
</div>
<div id="footer">
	<hr />
	<div id = "menu_footer"><%= render_navigation %></div>
	<div id = "copyright"><a href="http://www.sazor.me" target="_blank">Created by Andrey Kozlov</a></div>
</div>
</body>
</html>


